@import '../../../sass/variables.scss';
@import '../../../sass/utilities.scss';

.testimonials {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        56deg,
        $color-primary-light-4 0%,
        $color-primary-light-4 50%,
        $color-primary-dark-1 50%,
        $color-primary-dark-3 100%
    );
    margin-bottom: 15rem;
    box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.25);

    @include respond(mobile-big) {
        height: clamp(100rem, 150vh, 120rem);
    }

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-grid {
        position: relative;
        height: 85%;
        width: 80%;

        @include respond(mobile-big) {
            height: 100%;
            display: grid;
            row-gap: 3rem;
            justify-content: center;
            align-content: center;
            justify-items: center;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            width: 100%;
            height: 90%;
            & > * {
                position: relative !important;
                top: 0% !important;
                left: 0% !important;
            }
        }
    }

    &__card {
        &--1 {
            z-index: 3;
            position: absolute;
            top: 10%;
            left: 10%;
            transition: all 0.2s ease-in;
            @include hover-supported() {
                &:hover {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }

        &--2 {
            position: absolute;
            left: 40%;
            z-index: 4;
            transition: all 0.2s ease-in;
            @include hover-supported() {
                &:hover {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }

        &--3 {
            position: absolute;
            z-index: 5;
            top: 30%;
            left: 45%;
            transition: all 0.2s ease-in;
            @include hover-supported() {
                &:hover {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }

        &--4 {
            position: absolute;
            z-index: 2;
            top: 40%;
            left: 5%;
            transition: all 0.2s ease-in;
            @include hover-supported() {
                &:hover {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }

        &--5 {
            position: absolute;
            z-index: 5;
            top: 60%;
            left: 30%;
            transition: all 0.2s ease-in;
            @include hover-supported() {
                &:hover {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }
    }
}
