@import '../../../sass/variables.scss';

.wrapper {
    overflow-y: visible;
    padding: 1rem 0;
    box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.25) inset;
    border-radius: 1rem;
}

.horizontal-scroll {
    padding: 0 0.5rem;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    transition: all 0.4s;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}
