@import '../../sass/variables.scss';

.custom-select {
    display: flex;
    flex-direction: column;
    position: relative;

    &__select {
        transition: all 0.3s;
        font-style: inherit;
        font-size: 1.6rem;
        width: 24rem;
        height: 3rem;
        box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.2);
        font-size: 1.6rem;
        background-color: $color-primary-light-4;
        color: $color-primary-dark-3;
        border: 0;
        border-radius: 0.5rem;

        &:focus {
            outline: none;
            background-color: $color-primary-light-1;
        }
    }

    &__label {
        margin-left: 1rem;
        font-size: 1.6rem;
    }
    &__arrow {
        position: absolute;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        bottom: 0;
        right: 0;
        display: block;
        background-color: $color-primary-dark-1;
        height: 3rem;
        width: 3em;
        pointer-events: none;
        &::after {
            --size: 0.65em;

            content: '';
            position: absolute;
            width: 0;
            height: 0;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            border-left: var(--size) solid transparent;
            border-right: var(--size) solid transparent;
            border-top: var(--size) solid rgba(255, 255, 255, 0.5);

            top: 50%;
        }
    }

    &__select:focus.custom-select__arrow::after {
        border-top: var(--size) solid red;
    }
}
