@import '../../sass/variables.scss';

.offer {
    cursor: pointer;
    height: clamp(40rem, 60vh, 50rem);
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 52.5em) {
        height: 40vh;
    }

    &--overlay {
        z-index: 50;
        padding: 2rem 0 0 0;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        color: $color-tertiary-light-3;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        &__title-2 {
            position: absolute;
            top: 20%;
            color: $color-tertiary-light-3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            background-color: rgba($color-tertiary-dark-1, 1);
            height: 5rem;
            width: 110%;
            transform: rotate(10deg);
        }
        &__box {
            height: 25%;
            width: 100%;
            background-color: rgba($color-tertiary-dark-1, 0.6);
            justify-self: flex-end;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
        }
        &__description {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
        }
        &__price {
            display: flex;
            justify-content: center;
            font-size: 6rem;
            color: $color-tertiary-light-3;
            transition: all 0.5s;
        }
    }
    &--loading {
        display: flex;
        justify-content: center;
        width: 60rem;
    }
    &--image {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
                to right bottom,
                rgba(6, 62, 70, 0.5),
                rgba(230, 73, 128, 0.2)
            ),
            url('https://images.unsplash.com/photo-1611282104572-e0b0e9a707f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdhbGF4eSUyMHMyMSUyMHVsdHJhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
        background-position: center;
        background-size: cover;
        transition: all 0.5s;
    }

    &:hover &--image {
        transform: scale(1.1);
    }
}
