@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.user__card {
    min-height: 20rem;
    width: clamp(30vw, 55rem, 80vw);
    border-radius: 1rem;

    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

    color: $color-primary-light-3;

    &--img-box {
        padding-top: 1rem;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &--img {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
    }

    &--content {
        width: calc(100% - 13rem);
    }

    &--review {
        display: inline-block;
        overflow-wrap: break-word !important;
        height: auto;
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-align: start;
    }

    &--name {
        font-size: 1.6rem;
        margin-right: 1.2rem;
        text-align: end;
    }

    &--0 {
        color: $color-secondary-dark-3;
        background-color: $color-secondary-light-1;
        box-shadow: 0 0 1rem rgba($color-secondary-dark-1, 0.25);
    }

    &--1 {
        background-color: $color-primary-light-1;
        color: $color-primary-dark-3;
        box-shadow: 0 0 1rem rgba($color-primary-dark-2, 0.25);
    }

    &--2 {
        background-color: $color-primary-light-2;
        color: $color-primary-dark-3;
        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.25);
    }

    &--3 {
        background-color: $color-secondary;
        color: $color-secondary-dark-1;
        box-shadow: 0 0 1rem rgba($color-secondary-dark-1, 0.25);
    }

    &--4 {
        background-color: $color-tertiary-light-2;
        color: $color-tertiary-dark-3;
        box-shadow: 0 0 1rem rgba($color-tertiary-light-1, 0.25);
    }

    &--name-stars {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        @include respond(mobile-medium) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &--stars {
        align-self: flex-end;
        transform: scale(0.7);
    }

    @include respond(mobile-medium) {
        &--img-box {
            width: 100%;
        }

        flex-direction: column;
        &--content {
            width: 100%;
        }
        &--img {
            align-self: flex-start;
        }
    }
}
