@import '../../../sass/variables.scss';
@import '../../../sass/utilities.scss';

.me {
    margin: 10rem 0;
    height: auto;

    &-container {
        margin: 0 auto;
        height: auto;
        width: 80vw;
        border-radius: 1rem;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.3);

        @include respond(mobile-medium) {
            width: 90vw;
        }

        @include respond(mobile-small) {
            width: 95%;
        }
    }

    &-header {
        padding: 0 3rem;
        height: 11rem;
        background-color: $color-primary-light-3;
        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.3);

        display: flex;
        // justify-content: flex-end;
        align-items: center;
        gap: 2rem;

        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.3);

        h1 {
            width: 100%;
            display: inline-flex;
            align-items: center;
            font-size: 2.5rem;
            font-weight: 500;
            justify-self: flex-start;
        }

        &__image {
            display: block;
            border-radius: 50rem;
            cursor: pointer;
            height: 8rem;
            width: 8rem;

            transition: all 0.3s;

            &:hover {
                box-shadow: 0 0 0.1rem 0.3rem rgba($color-tertiary-dark-1, 0.9);
            }
        }

        @include respond(mobile-medium) {
            h2 {
                font-size: 2.5rem;
            }
        }

        @include respond(mobile-small) {
            h2 {
                text-align: end;
            }
        }
    }

    &-content {
        background-color: $color-primary-light-3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65vh;

        @include respond(mobile-medium) {
            height: auto;
            align-items: flex-start;
        }
    }
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 2rem;
    width: 100%;

    &__preview {
        display: flex;
        padding: 1rem;
        width: 100%;
        justify-content: space-around;
        img {
            display: block;
            height: 16rem;
            width: 16rem;
            border-radius: 50%;
        }
    }

    &__footer {
        height: 6rem;
        width: 100%;
        background-color: $color-primary-dark-1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    &__header {
        background-color: $color-primary-dark-1;
        font-size: 1.6rem;
    }

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        overflow: hidden;
    }

    &__input {
        height: 4rem;
        width: 15rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 50rem;
        cursor: pointer;
        text-transform: uppercase;
        color: $color-tertiary-light-3;

        background-image: linear-gradient(
            130deg,
            $color-tertiary-dark-1 0%,
            $color-tertiary-dark-1 50%,
            $color-primary-light-1 0%
        );
        background-size: 250%;
        box-shadow: 0 0rem 0.5rem rgba($color-tertiary-dark-3, 0.15);
        transition: all 0.4s;

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark-3;
        }
    }
}

.change-btn {
    background-image: linear-gradient(
        130deg,
        $color-primary-dark-2 0%,
        $color-primary-dark-2 50%,
        $color-primary-light-1 0%
    );
}
.modal-form {
    width: auto;
    padding-bottom: 0;
}
