@import '../../../../sass/variables.scss';
@import '../../../../sass/utilities.scss';

.bar {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px $color-tertiary-dark-1 inset;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.filler {
    height: 100%;
    background-color: $color-tertiary-dark-1;
}
