@import '../../../sass/variables.scss';
@import '../../../sass/utilities.scss';

.cart {
    height: 90vh;
    padding: 0 1rem;
    margin: 10rem auto;
    display: flex;
    justify-content: center;

    @include respond(mobile-medium) {
        height: auto;
    }

    &__container {
        background-color: $color-primary-light-1;
        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.2);
        height: 80vh;
        min-width: 70vw;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include respond(mobile-medium) {
            height: auto;
            min-height: 70vh;
        }
    }

    &__header {
        height: 10rem;
        flex-shrink: 0;
        width: 100%;
        background-image: linear-gradient(to right, $color-primary-light-3, $color-primary);
        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 3rem;
            color: $color-primary-dark-2;
        }

        svg {
            height: 7rem;
            width: 7rem;
            color: $color-primary-dark-2;
        }

        &-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            display: inline-block;
            text-align: center;
            width: 15rem;
            font-size: 3rem;
            font-weight: 500;
            color: $color-primary-dark-3;
        }
    }

    &__footer {
        padding: 0 4rem;
        background-image: linear-gradient(to right,$color-tertiary-light-1, $color-tertiary);
        height: 10rem;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-icon {
            height: 1.6rem;
            width: 1.6rem;
        }

        p {
            text-align: center;
            font-size: 3rem;
            color: $color-primary-light-1;
        }

        @include respond(mobile-medium) {
            // height: 20rem;
            padding: 0 1rem;
            gap: 2rem;
            // flex-direction: column;
            p {
                max-width: 20rem;
                font-size: 2rem;
            }
        }

        a:link,
        a:visited {
            span {
                font-size: 1.2rem;
            }
        }
    }

    &__content {
        padding: 2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

        @include scroll($color-primary-light-3, $color-primary-dark-1, $color-primary-dark-3);
    }

    &__item {
        padding: 3rem;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        background-color: $color-primary-light-1;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.2);
        position: relative;

        svg {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            color: $color-primary-dark-3;
            font-size: 3rem;
            cursor: pointer;
            transition: all 0.1s;
            &:hover {
                transform: scale(1.05);
            }
        }

        &--empty {
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            p {
                text-align: center;
                font-size: 2.5rem;
                color: $color-tertiary-dark-1;
            }
        }

        &--image {
            cursor: pointer;
            display: inline-block;
            width: 15rem;
            height: 15rem;
            box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.5);
            border-radius: 1rem;
        }

        &--info-box {
            height: auto;
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            min-width: 30vw;
            align-items: flex-start;
            flex-direction: column;
            h3 {
                display: inline-block;
                width: 30rem;
                color: $color-primary-dark-3;
                font-size: 1.6rem;
            }

            span {
                font-size: 1.5rem;
                color: $color-tertiary-dark-1;
            }
        }

        &--quantity {
            align-self: flex-end;
            display: flex;
            width: 10rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            span {
                display: inline-flex;
                justify-content: center;
                width: 2.5rem;
                font-size: 2rem;
                color: $color-tertiary;
            }
            svg {
                color: $color-tertiary;

                font-size: 2.4rem;
                position: inherit;
            }
        }
    }
}
