@import '../../sass/variables.scss';

.product-content {
    height: 80vh;
    width: 90%;
    background-color: $color-primary-light-1;
    box-shadow: 0 0 1.5rem rgba($color-primary-dark-3, 0.2);
    border-radius: 1rem;
    margin-bottom: 10rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: minmax(max-content, 3fr) 4fr;
    grid-template-rows: 1fr 2fr 1fr;

    &__gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0.4rem rgba($color-primary-dark-3, 0.2);
        grid-area: 1 / 1 / 4 / 2;
        min-height: 50rem;

        & > * {
            width: 100%;
        }
        &--image {
            width: 50rem;
            height: 50rem;

            @media (max-width: 52.5em) {
                max-width: 40rem;
                max-height: 40rem;
            }
        }
    }

    @media (max-width: 52.5em) {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr 10rem;

        &__gallery {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    &__title {
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: $color-primary-light-3;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 10rem;
        h2 {
            font-size: 2.6rem;
            font-weight: 400;
            grid-area: top;
        }

        box-shadow: 0 0 0.1rem rgba($color-primary-dark-3, 0.3);
    }
    &__options {
        background-color: $color-primary-light-4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem 2rem 1rem 2rem;
        gap: 1.5rem;
        min-height: 30rem;

        &--reviews {
            display: flex;
            align-items: center;
            gap: 2rem;
            &-count {
                font-weight: 500;
                font-size: 1.6rem;
                color: $color-primary-dark-3;
            }
        }

        &--star-container {
            display: flex;

            .star-icon {
                color: $color-tertiary-dark-1;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &--price {
            font-size: 4rem;
            color: $color-tertiary-dark-2;
        }
    }

    &__cart {
        box-shadow: 0 0 0.2rem rgba($color-primary-dark-3, 0.3);
        background-color: $color-primary-light-4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
