@import '../../sass/variables.scss';

.products__grid {
    width: 100%;
    min-height: 100vh;
    justify-self: end;
    align-content: start;
    display: grid;
    background-color: $color-primary-light-1;

    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center;
    overflow: hidden;

    &--no-items {
        grid-column: 1 / -1;
        color: $color-tertiary;
        font-size: 3rem;
        text-align: center;
    }
}

.fade {
    animation: 0.8s fade;
}
