@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.reviews {
    height: 85vh;
    width: 90%;
    background-color: $color-primary-light-4;
    margin-bottom: 10rem;
    box-shadow: 0 0 2rem rgba($color-primary-dark-3, 0.2);
    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    @include respond(mobile-big) {
        height: auto;
    }

    &-content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 8fr;
        grid-template-columns: 1fr 2fr;

        &-header {
            grid-column: 1 / 3;
            background-color: $color-primary-light-3;
            height: 100%;
            padding: 2rem;

            display: grid;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr repeat(3, max-content);
            gap: 1rem;

            box-shadow: 0 -0.5px 0.15rem rgba($color-primary-dark-3, 0.2) inset;
            h3 {
                font-size: 4rem;
                font-weight: 400;
                margin-right: auto;
            }

            @include respond(mobile-medium) {
                grid-template-columns: 1fr;
                grid-template-rows: min-content;

                h3 {
                    margin-right: 0;
                }

                &--button {
                    grid-row: 2 / 3;
                }
            }
        }

        &-list {
            list-style: none;
            display: flex;
            padding: 2rem;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5rem;
            @include scroll($color-primary-light-3, $color-primary-dark-1, $color-primary-dark-3);
        }

        &-item {
            display: flex;
            justify-content: center;
            height: auto;
        }

        &-empty {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            p {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 400;
            }

            button {
                transform: scale(1.2);
            }
        }

        @include respond(mobile-big) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-auto-flow: row;
            .review-stats {
                grid-column: 1/ 3;
            }
        }
    }
}
