@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.modal-review__content {
    display: flex;
    flex-direction: column;
    position: relative;

    @include respond(mobile-medium) {
        #review {
            min-height: 25vh;
            width: 75vw;
        }
    }
}

.modal-review__header {
    background-color: $color-secondary-dark-2;
    color: $color-secondary-light-2;
}

.modal-review__menu {
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.2);
}

.modal-review__footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.load {
    width: 3rem;
    height: 3rem;
    color: $color-primary-light-1;
    animation: lds-dual-ring 0.4s infinite;
}

.modal-review__btn {
    box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.3);

    &--submit {
        background-image: linear-gradient(
            130deg,
            $color-secondary-dark-2 0%,
            $color-secondary-dark-2 50%,
            $color-primary-light-1 0%
        );
    }

    &:hover .load {
        color: $color-primary-dark-3;
    }
}
