@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './variables.scss';
@import './animations.scss';
@import './utilities.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include respond(desktop) {
        font-size: 65%;
    }

    @include respond(mobile-big) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $color-primary-light-1;
    position: relative;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1.6px;
    background-color: $color-primary-light-4;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter-active {
    opacity: 1;
    transition: all 0.4s ease-in;
}

.fade-exit.fade-exit-active {
    display: none;
}

.page-enter {
    opacity: 0;
    transform: scale(1.01);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.99);
    transition: opacity 300ms, transform 300ms;
}
/*
::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background: $color-primary-light-3;
}

::-webkit-scrollbar-thumb {
    background: $color-primary-dark-2;
    border: 0.25em solid $color-primary-light-3;
    border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
    background: $color-primary-dark-3;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: $color-primary-dark-1 $color-primary-light-3;
        scrollbar-width: auto;
    }
}
*/
