@import './variables.scss';

.clear-margin {
    margin: 0 !important;
}

.margin-top {
    margin-top: auto !important;
}

.bg-color-1 {
    background-color: $color-primary-light-4 !important;
}

@mixin scroll($color1, $color2, $color3) {
    overflow-y: overlay;

    @supports not (overflow-y: overlay) {
        overflow-y: auto;
    }
    &::-webkit-scrollbar {
        width: 2em;
    }

    &::-webkit-scrollbar-track {
        background: $color1;
    }

    &::-webkit-scrollbar-thumb {
        background: $color2;
        border: 0.25em solid $color1;
        border-radius: 1em;
        min-height: 5em;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $color3;
    }

    @supports (scrollbar-color: red blue) {
        * {
            scrollbar-color: $color2 $color1;
            scrollbar-width: auto;
        }
    }

    @media (max-width: 52.5em) {
        overflow-y: visible;
    }
}

@mixin triangle {
    position: absolute;
    cursor: pointer;
    color: $color-primary-light-1;
    border-bottom: none;
    font-size: 2.1rem;
    top: 66%;
    width: 100%;
    text-shadow: 0px -1rem 2rem rgba($color-primary-dark-3, 0.15);

    display: flex;
    justify-content: center;
    transition: opacity 0.5s;
}
