// variables

//COLORS
$color-primary: #3bc9db;

$color-primary-light-1: #f6fdfe;
$color-primary-light-2: #c5f6fa;
$color-primary-light-3: #93e1eb;
$color-primary-light-4: #e3f9fc;

$color-primary-dark-1: #1098ad;
$color-primary-dark-2: #0b6775;
$color-primary-dark-3: #063e46;

$color-secondary: #5af1c0;
$color-secondary-light: #c3fae8;
$color-secondary-dark: #0ea574;
$color-secondary-dark-1: #043223;

$color-tertiary: #e64980;
$color-tertiary-light-1: #faa2c1;
$color-tertiary-light-2: #f9d2e0;
$color-tertiary-light-3: #fdedf2;
$color-tertiary-dark-1: #ca1c59;
$color-tertiary-dark-2: #b0184e;
$color-tertiary-dark-3: #500b23;

$color-fourth: #4c5270;
$color-fourth-dark: #484e6a;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
