// variables

//COLORS
$color-primary: #3bc9db;
$color-primary-2: #5bd2e1;

$color-primary-light-1: #f6fdfe;
$color-primary-light-2: #c5f6fa;
$color-primary-light-3: #93e1eb;
$color-primary-light-4: #e3f9fc;

$color-primary-dark-1: #1098ad;
$color-primary-dark-2: #0b6775;
$color-primary-dark-3: #063e46;
$color-primary-dark-4: #095c67;

$color-secondary: #5af1c0;
$color-secondary-light: #c3fae8;
$color-secondary-light-1: #e3fdf4;
$color-secondary-light-2: #f5fefb;
$color-secondary-dark: #0ea574;
$color-secondary-dark-1: #043223;
$color-secondary-dark-2: #0c8d63;
$color-secondary-dark-3: #064631;

$color-tertiary: #e64980;
$color-tertiary-2: #ed78a1;
$color-tertiary-light-1: #faa2c1;
$color-tertiary-light-2: #f9d2e0;
$color-tertiary-light-3: #fdedf2;
$color-tertiary-light-4: #fef6f8;
$color-tertiary-dark-1: #ca1c59;
$color-tertiary-dark-2: #b0184e;
$color-tertiary-dark-3: #500b23;

$color-fourth: #4c5270;
$color-fourth-light-1: #edeef3;
$color-fourth-light-2: #d4d7e2;
$color-fourth-light-3: #8c92b1;
$color-fourth-light-4: #f9f9fb;
$color-fourth-dark-1: #484e6a;
$color-fourth-dark-2: #3e435b;
$color-fourth-dark-3: #2d3143;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
