@import '../../sass/variables.scss';

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    cursor: pointer;

    gap: 0.5rem;
    border-radius: 100px;
    width: 15rem;
    height: 4rem;
    background-color: $color-primary-light-4;
    box-shadow: 0 0 0.3rem rgba($color-primary-dark-3, 0.6);

    &:hover {
        box-shadow: 0px 0px 0px 1.5px $color-primary-dark-2 inset;
    }

    img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 10rem;
    }

    @media (max-width: 68.75em) {
        span {
            display: none;
        }
        img {
            width: 4.6rem;
            height: 4.6rem;
        }
        width: 5rem;
        height: 5rem;
    }

    @media (max-width: 52.5em) {
        width: 15rem;
        height: 4rem;
        background-color: $color-primary-light-2;
        box-shadow: 0 0 0.3rem rgba($color-primary-dark-3, 0.6);
        img {
            width: 3.5rem;
            height: 3.5rem;
        }
        span {
            display: inline-block;
        }
    }
}