@import '../../sass/variables.scss';

.cart-button-cotainer {
    position: relative;
}

.cart-counter {
    position: absolute;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    height: 1.7rem;
    width: 1.7rem;
    background-color: $color-tertiary-light-3;
    top: 10%;
    right: 22%;
    border-radius: 50%;
    color: $color-tertiary-dark-1;

    animation: expand-in-and-out 0.5s;

    @media (max-width: 68.75em) {
        top: 10%;
        right: 12%;
    }
}

.cart-button {
    svg {
        width: 2rem;
        height: 2rem;
    }

    @media (max-width: 68.75em) {
        width: 5rem !important;
        height: 5rem !important;
        span {
            display: none;
        }
        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}

@keyframes expand-in-and-out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.cart-button-cotainer:hover {
    .cart-counter {
        background-color: $color-tertiary-dark-1;
        color: $color-tertiary-light-3;
    }
    .cart-button {
        background-position: 100%;
        color: $color-primary-dark-3;
    }
}
