@import '../../sass/variables.scss';

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $color-tertiary-dark-1;
    border-color: $color-tertiary-dark-1 transparent $color-tertiary-dark-1 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
    z-index: 10000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
        width: 100px;
        height: 100px;
    }
    .lds-dual-ring:after {
        width: 64px;
        height: 64px;
    }
}
