@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: 700;
        margin-left: 1.6rem;
        font-size: 3.2rem;
        color: $color-primary-light-3;
        letter-spacing: 0.5px;
        background-image: linear-gradient(
            to left,
            $color-tertiary-dark-1 0%,
            $color-tertiary-dark-2 20%,
            $color-primary-dark-3 100%
        );

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.5px;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        color: $color-tertiary-dark-1;
    }

    &-light {
        h1 {
            background-image: linear-gradient(to left, $color-tertiary 0%, $color-primary 100%);
        }
    }

    &-light &__icon {
        color: $color-tertiary;
    }
}
