@import '../../../sass/variables.scss';
@import '../../../sass/utilities.scss';

.error-text {
    font-size: 2.5rem;
    color: $color-tertiary-dark-2;
}

.error-modal {
    background-color: $color-tertiary-dark-1;
}
