@import '../../../sass/variables.scss';
@import '../../../sass/utilities.scss';

.star-container {
    display: flex;

    .star-icon {
        color: $color-tertiary-dark-1;
        width: 2.5rem;
        height: 2.5rem;
    }
}