@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.me-reviews {
    flex-grow: 1;
    display: flex;
    width: 80vw;
    height: 100%;
    background-color: $color-secondary-light;
    z-index: 40;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    &__content {
        padding: 1rem;
        display: flex;
        background-color: $color-secondary-light-1;
        height: 100%;
        width: 80%;
        border-radius: 1rem;
        gap: 2rem;

        box-shadow: 0 0 0.5rem rgba($color-secondary-dark-3, 0.3) inset;
        flex-direction: column;
        align-items: center;

        @include scroll($color-secondary, $color-secondary-dark-2, $color-secondary-dark-3);

        &::-webkit-scrollbar-track {
            background: $color-secondary;
            border-radius: 1rem;
        }
    }

    &__item {
        min-width: 70%;
        max-width: 90%;
        padding: 2rem;
        flex-grow: 1;
        flex-shrink: 0;
        min-height: 20rem;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        align-items: center;
        background-color: $color-secondary-light-1;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba($color-secondary-dark-1, 0.2);
        position: relative;

        p {
            display: inline-block;
            overflow-wrap: break-word !important;
            height: auto;
            width: 100%;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            text-align: start;
        }

        &--image {
            cursor: pointer;
            display: inline-block;
            width: 15rem;
            height: 15rem;
            box-shadow: 0 0 0.5rem rgba($color-secondary-dark-3, 0.5);
            border-radius: 1rem;
        }

        &--info-box {
            height: auto;
            max-width: 50rem;
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            align-items: flex-start;
            flex-direction: column;
            h3 {
                display: inline-block;
                width: 30rem;
                color: $color-secondary-dark-3;
                font-size: 1.6rem;
            }
        }

        &--empty {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4rem;
            height: 100%;

            p {
                text-align: center;
                font-size: 2.5rem;
                color: $color-secondary-dark-3;
            }
        }

        &--stars {
            .star-icon {
                width: 2rem;
                height: 2rem;
            }
        }

        &--modify {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &--btn {
            background-image: linear-gradient(
                130deg,
                $color-secondary-dark-2 0%,
                $color-secondary-dark-2 50%,
                $color-primary-light-1 0%
            );
        }
    }

    @include respond(mobile-medium) {
        height: auto;
        &__content {
            width: 100%;
            min-height: 50vh;
            justify-content: center;
            align-items: center;
        }

        &__item {
            flex-wrap: wrap;
            max-width: 100%;
            &--info-box {
                width: auto;

                h3 {
                    width: auto;
                }
            }
        }
    }
}
