@import '../../sass/variables.scss';

.me-sidebar-item {
    &__link {
        &:link,
        &:visited {
            display: inline-flex;
            text-decoration: none;
            height: 3rem;
            width: 15rem;
            font-style: inherit;
            font-size: 1.6rem;
            text-align: center;
            color: $color-primary-dark-3;
            border: 2px solid $color-primary-dark-3;
            border-radius: 1rem;

            justify-content: center;
            align-items: center;
        }
        &:hover,
        &:active {
            color: $color-tertiary-dark-1;
            border: 2px solid $color-tertiary-dark-1;
            background-color: $color-tertiary-light-3;
        }
    }

    .dummy-link {
        display: none;
    }

    @media(max-width: 52.5em) {
        .dummy-link {
            display: inline-flex;
        }
    }
}
