@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.favorites {
    position: relative;
    &__main-link {
        position: relative;
        &:link,
        &:visited {
            color: $color-tertiary-dark-2;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            background-color: $color-tertiary-light-4;

            gap: 0.5rem;
            border-radius: 100px;
            width: 15rem;
            height: 4rem;
            box-shadow: 0 0 0.3rem rgba($color-tertiary-dark-3, 0.6);

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
        @include hover-supported() {
            &:hover {
                box-shadow: 0px 0px 0px 1.5px $color-tertiary-dark-1 inset;
            }
        }
        &:active {
            box-shadow: 0px 0px 0px 1.5px $color-tertiary-dark-1 inset;
        }
        @include respond(mobile-big) {
            &:link,
            &:visited {
                span {
                    display: none;
                }
                .cart-counter {
                    right: 12%;
                    display: inline-flex;
                }
                svg {
                    width: 3rem;
                    height: 3rem;
                }
                width: 5rem;
                height: 5rem;
            }
        }
        @include respond(mobile-medium) {
            &:link,
            &:visited {
                width: 15rem;
                height: 4rem;
                background-color: $color-tertiary-light-2;
                box-shadow: 0 0 0.3rem rgba($color-tertiary-dark-3, 0.6);
                svg {
                    width: 2rem;
                    height: 2rem;
                }
                span {
                    display: inline-block;
                }
            }

            @include hover-supported() {
                &:hover {
                    box-shadow: 0px 0px 0px 1.5px $color-tertiary-dark-2 inset;
                }
            }
            &:active {
                box-shadow: 0px 0px 0px 1.5px $color-tertiary-dark-2 inset;
            }
        }
    }

    &__counter {
        position: absolute;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        height: 1.7rem;
        width: 1.7rem;
        background-color: $color-tertiary-dark-2;
        top: 10%;
        right: 9%;
        border-radius: 50%;
        color: $color-tertiary-light-3;

        animation: expand-in-and-out 0.5s;

        @include respond(mobile-big) {
            top: 10%;
            right: 12%;
        }
    }

    &__dropdown__component {
        left: 50%;
        transform: translate(-50%);
        top: 115%;
        width: 40rem;
        border-radius: 1rem;
        background-color: $color-tertiary-light-4;
        cursor: default;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: hidden;

        box-shadow: 0 0 1.5rem rgba($color-tertiary-dark-3, 0.5);

        @include respond(mobile-big) {
            left: -160%;
        }

        &::-webkit-scrollbar {
            width: 1.2em;
        }

        &::-webkit-scrollbar-track {
            background: $color-tertiary-light-2;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background: $color-tertiary;
            border: 0.25em solid $color-tertiary-light-2;
            border-radius: 1em;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $color-tertiary-dark-1;
        }

        @supports (scrollbar-color: red blue) {
            & {
                scrollbar-color: $color-tertiary-dark-1 $color-tertiary-light-3;
                scrollbar-width: auto;
            }
        }
    }

    &:hover &__dropdown__component {
        overflow: overlay;
        z-index: 1600;
        @supports not (overflow: overlay) {
            overflow: auto;
        }
        animation: hide-scroll 0.5s;
    }

    @include hover-supported() {
        &:hover &__main-link {
            &:link,
            &:visited {
                box-shadow: 0px 0px 0px 1.5px $color-tertiary-dark-2 inset;
            }
        }
    }

    &__dropdown {
        flex-grow: 1;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__empty {
        color: $color-tertiary-dark-1;
        margin-top: auto;
        font-size: 1.6rem;
        text-align: center;
    }

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    &__item {
        display: flex;
        position: relative;
        height: 15rem;
        border-radius: 1rem;
        background-color: $color-tertiary-light-4;
        box-shadow: 0 0 1rem rgba($color-tertiary-dark-3, 0.25);
        overflow: hidden;

        img {
            display: inline-flex;
            cursor: pointer;
            height: 15rem;
            width: 15rem;
            object-fit: contain;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2rem;
            h3 {
                font-size: 1.2rem;
                text-align: center;
            }

            &--btn {
                height: 3rem;
                width: 12rem;

                span {
                    font-size: 1.2rem;
                }
            }
        }

        &-close {
            top: 0;
            right: 0;
            cursor: pointer;
            height: 3rem;
            width: 3rem;

            position: absolute;
            border: none;
            align-self: flex-end;
            background-color: inherit;

            svg {
                color: $color-tertiary-dark-1;
                height: 3rem;
                width: 3rem;
                transition: all 0.3s;
            }
            @include hover-supported() {
                &:hover {
                    svg {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
