@import '../../sass/variables.scss';

.main-header {
    position: absolute;
    top: -10rem;

    width: 100%;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
        to right,
        $color-primary 0%,
        $color-primary-2 35%,
        $color-primary-light-3 100%,
    );
    margin-bottom: 4rem;
    z-index: 2000;

    box-shadow: 0 0.1rem 0.2rem rgba($color-primary-dark-3, 0.5);

    &__logo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 52.5em) {
    .main-header {
        z-index: 3000;
        transition: all 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }
}

.sticky.main-header {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @media (max-width: 52.5em) {
        animation: none;
    }
    animation: moveDown 0.5s ease-in-out;
}
