@import '../../sass/variables.scss';
@import '../../sass/utilities.scss';

.products {
    margin-bottom: 10rem;
    &__container {
        margin: 10rem 2rem 0 2rem;
        min-height: 80vh;
        display: grid;
        margin-bottom: 10rem;

        grid-template-columns: 20% 80%;
        grid-template-rows: minmax(25vh, auto) max-content;
        grid-auto-flow: row;
        justify-content: space-around;
        row-gap: 1rem;
        column-gap: 1rem;

        &--side-bar {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }

        @include respond(mobile-big) {
            grid-template-columns: 90%;
            grid-auto-flow: row;

            &--side-bar {
                padding-left: 15%;
                padding-right: 15%;
                grid-column: 1 / -1;
                grid-row: 3 / 4;
            }
        }

        @include respond(mobile-medium) {
            margin: 10rem 0rem 0 0rem;
            &--side-bar {
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        &-page {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 1rem rgba($color-primary-dark-3, 0.25);
            border-radius: 1rem;
            overflow: hidden;
        }

        &--loader {
            margin-top: 3rem;
            font-size: 3.5rem;
            display: flex;
            min-height: 100vh;
            gap: 2rem;
            justify-content: center;
            color: $color-tertiary;
            text-align: center;
        }
    }
    &__filter-bar {
        padding: 2rem;
        width: 100%;
        justify-self: end;
        display: flex;
        border-radius: 1rem;
        background-color: $color-primary-light-3;
        box-shadow: 0 0 0.5rem rgba($color-primary-dark-3, 0.25);

        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        &--info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--title {
            width: 40rem;
            font-size: 2.6rem;
            align-self: start;
            margin-left: 10%;
        }

        &--results {
            display: block;
            width: 100%;
            font-size: 2rem;
            font-weight: 500;
            padding-right: 5%;
            text-align: end;
        }

        &--select {
            flex-grow: 1;
            width: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-auto-flow: row;
        }

        @include respond(mobile-medium) {
            padding: 2rem 4rem;

            &--title {
                margin-left: 0;
            }
            &--results {
                padding: 0;
            }
            &--select {
                width: 80%;
            }
        }
    }

    &__input {
        height: 3rem;
        width: 20rem;
        font-size: 1rem;
    }
}
